* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f9fdf6;
  color: #333;
}

.front {
  background-image: url("home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  animation: zoomBg 18s ease-in-out infinite alternate;
}

@keyframes zoomBg {
  from {
    background-size: 100%;
  }
  to {
    background-size: 110%;
  }
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  animation: drop 1s ease;
}

@keyframes drop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo {
  color: #5a8f3d;
}

nav a {
  margin: 0 12px;
  text-decoration: none;
  color: #020202;
  font-weight: 700;
}
nav a:hover {
  text-decoration: underline;
}

.btn {
  background: #2e4f1c;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}
.hero-text {
  animation: slideFade 1.5s ease forwards;
}

@keyframes slideFade {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-text h2 {
  font-size: 42px;
  color: #1c3310;
}

.hero-text p {
  margin: 15px 0;
  color: #020202;
}

/* Products */
.section-tittle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #1f3d2b;
  margin-bottom: 40px;
}
.section-tittle::before,
.section-tittle::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #2e4f1c;
}

.products {
  padding: 60px;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.card {
  background: #d2d9d2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.card button {
  margin-top: 10px;
  background: #2e4f1c;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
}

/* Why Section */
.why {
  background: #eef6ea;
  padding: 60px;
  text-align: center;
}

.why-grid {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

/* Reviews */
.reviews {
  padding: 60px;
  text-align: center;
}

.review-grid {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.review {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

/* Footer */
footer {
  background: #5a8f3d;
  color: white;
  text-align: center;
  padding: 15px;
}
#men{
  display: flexbox;
  justify-content: center;
  align-items: center;
}